Source: gracie
Section: web
Priority: extra
Maintainer: Ben Finney <ben+debian@benfinney.id.au>
Build-Depends: debhelper (>= 7.0.50),
    docbook-to-man,
    python-support (>= 0.90),
    graphicsmagick-imagemagick-compat | imagemagick,
    python-docutils (>= 0.3.9),
    python-setuptools (>= 0.6b3),
    python-openid (>= 1.2),
    python-daemon,
    python-routes,
    python-pam,
    python
Standards-Version: 3.8.1
Vcs-Bzr: http://bzr.debian.org/bzr/collab-maint/gracie/gracie.debian/
Vcs-Browser: http://bzr.debian.org/loggerhead/collab-maint/gracie/gracie.debian/
Homepage: http://trac.whitetree.org/gracie/

Package: gracie
Architecture: all
Depends: ${python:Depends}, ${misc:Depends},
    python-openid (>= 1.2),
    python-routes,
    python-pam
Provides: ${python:Provides}
Description: OpenID server for local PAM accounts
 Gracie is an OpenID server (a “provider” in OpenID terminology) that
 serves identities for the local system PAM accounts. It uses OpenID
 protocol version 1.1, and authenticates using a username/password
 challenge.
 .
 The OpenID protocol is documented at <URL:http://openid.net/>.
